/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
	width: 100%;
	height: 100%;
}
.stage {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.sprite {
	width: 20px;
	height: 20px;
	background: #000000;
	position: absolute;
	top: 50%;
	left: 30%;
	margin-top: -10px;
}
.obstacle {
	height: 100%;
	width: 60px;
	position: absolute;
	right: -60px;
}
.obstacle-top {
	width: 100%;
	position: absolute;
	top: 0px;
	background: #333333;
}
.obstacle-bottom {
	width: 100%;
	position: absolute;
	bottom: 0px;
	background: #333333;
}
.obstacle-top.ob1 {
	height: 50px;
}
.obstacle-top.ob2 {
	height: 75px;
}
.obstacle-top.ob3 {
	height: 100px;
}
.obstacle-top.ob4 {
	height: 125px;
}
.obstacle-top.ob5 {
	height: 150px;
}
.obstacle-top.ob6 {
	height: 175px;
}
.obstacle-top.ob7 {
	height: 200px;
}
.obstacle-top.ob8 {
	height: 225px;
}
.obstacle-top.ob9 {
	height: 250px;
}
.obstacle-top.ob10 {
	height: 275px;
}
.obstacle-top.ob11 {
	height: 300px;
}
.obstacle-top.ob12 {
	height: 325px;
}
.obstacle-top.ob13 {
	height: 350px;
}
.obstacle-top.ob14 {
	height: 375px;
}
.obstacle-bottom.ob1 {
	height: 375px;
}
.obstacle-bottom.ob2 {
	height: 350px;
}
.obstacle-bottom.ob3 {
	height: 325px;
}
.obstacle-bottom.ob4 {
	height: 300px;
}
.obstacle-bottom.ob5 {
	height: 275px;
}
.obstacle-bottom.ob6 {
	height: 250px;
}
.obstacle-bottom.ob7 {
	height: 225px;
}
.obstacle-bottom.ob8 {
	height: 200px;
}
.obstacle-bottom.ob9 {
	height: 175px;
}
.obstacle-bottom.ob10 {
	height: 150px;
}
.obstacle-bottom.ob11 {
	height: 125px;
}
.obstacle-bottom.ob12 {
	height: 100px;
}
.obstacle-bottom.ob13 {
	height: 75px;
}
.obstacle-bottom.ob14 {
	height: 50px;
}